/* Estilos generales */
body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

/* Estilos del encabezado */
header {
    text-align: center;
    background-color: #333;
    padding: 20px;
}

.title {
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    animation: fade-in 1.5s ease-in-out;
}

/* Estilos de la sección de programación */
.program {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fade-in 1.5s ease-in-out;
    color: black; /* Cambiamos el color del texto a negro */
}

.program-title {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    animation: fade-in 1.5s ease-in-out;
}


/* Estilos del reproductor de audio (agregar según tus necesidades) */

/* Estilos del pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.copyright {
    margin: 0;
    animation: fade-in 1.5s ease-in-out;
}

/* Animación de aparición suave */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Estilos para el elemento de carga */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Estilos para el símbolo giratorio */
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

/* Animación para el símbolo giratorio */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

