/* Estilos generales */
body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white; /* Texto en blanco */
}

/* Estilos del encabezado */
header {
    text-align: center;
    background-color: #333;
    padding: 20px;
}

.title {
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    animation: text-animation 1s ease-in-out alternate infinite;
}

/* Estilos de la sección de programación */
.program {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.program-title {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    animation: text-animation 1s ease-in-out alternate infinite;
}

/* Estilos del reproductor de audio (agregar según tus necesidades) */

/* Estilos del pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    animation: text-animation 1s ease-in-out alternate infinite;
}

/* Animación de texto */
@keyframes text-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
